node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

 Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,firebase
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
firebaseKeys.json

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,firebase